{% extends 'base.html' %}

{% block content%}
    {% if messages %}
    {% for message in messages %}
        <div class = "alert alert-warning alert-dismissiable" roles="alert">
            <button class="close" data-dismiss="alert">
                <small><sup></sup></small>
            </button>
            {{ message }}
        </div>
     {% endfor %}
{% endif %}  
<div>
<h1><center>Today<center></h1>
</div>
{% if all_items %}
     <table class="table table-striped table-dark table-hover">
         <tr class="edit">
            <th><center>Tasks</centern></th>
            <th><center>Priority</center></th>
            <th><center>Status</center></th>  
         </tr>     
            {% for things in all_items %}
          
            <a href="{% url 'tom' things.id %}"> <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title= "tom ">Add</button> 
 

                {% if things.completed %}
                
                    <tr class="bg-success">  
                        <td><center>
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle btn-group-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{things.item}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'edit' things.id %}">Edit</a>
                                    
                                     <a class="dropdown-item" href="{% url 'sub' things.id %}">Add Sub-Tasks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'uncross' things.id %}"  data-toggle="tooltip" data-placement="bottom" title="Mark the Task Not Completed">Not Done</a>
                                    <a class="dropdown-item" href="{% url 'delete' things.id %}"  data-toggle="tooltip" data-placement="bottom" title="Remove the Task">Remove</a>
                                   
                                </div>
                                
                            </div>
                        </center>
                        </td>  
                        <td><center>
                            <div class="btn-group">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Set Priority
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'high' things.id %}">High</a>
                                        <a class="dropdown-item" href="#">Low</a>
                                
                                    </div>
                                    </div>
                            </center>
                        </td>
                        <td class="uncross"><center><img src="" width="30" height="30"  class="d-inline-block" alt=""></center></td>
                        
                    </tr>
                     {% elif things.priority %} 
                        <tr class="bg-danger">  
                        <td><center>
                            <div class="dropdown">
                                <button class="btn btn-warning dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{things.item}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'edit' things.id %}">Edit</a>
                                     <a class="dropdown-item" href="{% url 'sub' things.id %}">Add Sub-Tasks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'cross_off' things.id %}" data-toggle="tooltip" data-placement="bottom" title=" Mark the Task completed" >Done</a>
                                    <a class="dropdown-item" href="{% url 'delete' things.id %}" data-toggle="tooltip" data-placement="bottom" title="Remove the Task">Remove</a>
                                    
                                </div>
                                </div>
                        </center>
                        </td>  
                        <td><center>
                            <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Set Priority
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'high' things.id %}">High</a>
                                        <a class="dropdown-item" href="{% url 'medium' things.id %}">Low</a>
                                        </div>
                                    </div>
                            </center>
                        </td>
                        <td class="cross"><center><img src="" width="30" height="30"  class="d-inline-block" alt=""></center></td>
                                             
                        </tr>
                         
                    
                {% else %}  
                    <tr>  
                        <td><center>
                            <div class="dropdown">
                                <button class="btn btn-warning dropdown-toggle btn-group-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{things.item}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'edit' things.id %}">Edit</a>
                                     <a class="dropdown-item" href="{% url 'sub' things.id %}">Add Sub-Tasks</a>
                                    <div class="dropdown-divider"></div>
                                    
                                    <a class="dropdown-item" href="{% url 'cross_off' things.id %}" data-toggle="tooltip" data-placement="bottom" title=" Mark the Task completed" >Done</a>
                                    <a class="dropdown-item" href="{% url 'delete' things.id %}" data-toggle="tooltip" data-placement="bottom" title="Remove the Task">Remove</a>
                                
                                </div>
                                </div>
                        </center>
                        </td>  
                        <td><center>
                            <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Set Priority
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'high' things.id %}">High</a>
                                        <a class="dropdown-item" href="{% url 'medium' things.id %}">Low</a>
                                        </div>
                                    </div>
                            </center>
                        </td>
                        <td class="cross"><center><img src="" width="30" height="30"  class="d-inline-block" alt=""></center></td>              
                        </tr>
                 
                {% endif %} 
            {% endfor %}  

      </table>
               <a  href="{% url 'deleteAll' %}"> <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Delete all the Tasks">Delete All</button>
                <a  href="{% url 'deleteComplete' %}"> <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Delete Completed the Tasks">Delete Completed</button>
                <a  href="{% url 'prio' %}"> <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Delete Low Priority item">Delete Low Priority tasks</button>
 
                 
{% endif %}
{% endblock %}   